# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [16]:
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,<built-in method capitalize of str object at 0...,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,<built-in method capitalize of str object at 0...,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,<built-in method capitalize of str object at 0...,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,<built-in method capitalize of str object at 0...,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,<built-in method capitalize of str object at 0...,home,father

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [7]:
stud_alcoh = df.loc[: , "school":"guardian"]

### Step 5. Create a lambda function that will capitalize strings.

In [ ]:
lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [10]:
stud_alcoh['Mjob'] = stud_alcoh.Mjob.apply(lambda x: x.capitalize())

### Step 7. Print the last elements of the data set.

In [14]:
print(stud_alcoh.tail(1))

    school sex  age address famsize Pstatus  Medu  Fedu   Mjob     Fjob  \
394     MS   M   19       U     LE3       T     1     1  Other  at_home

     reason guardian
394  course   father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [15]:
stud_alcoh['Fjob'] = stud_alcoh.Fjob.apply(lambda x: x.capitalize)

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [25]:
def majority(x):
    if x > 17:
        return 'Yes'
    else:
        return 'No'

In [27]:
stud_alcoh['legal_drinker'] = stud_alcoh.age.apply(lambda x: majority(x))

In [28]:
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,<built-in method capitalize of str object at 0...,course,mother,Yes
1,GP,F,17,U,GT3,T,1,1,At_home,<built-in method capitalize of str object at 0...,course,father,No
2,GP,F,15,U,LE3,T,1,1,At_home,<built-in method capitalize of str object at 0...,other,mother,No
3,GP,F,15,U,GT3,T,4,2,Health,<built-in method capitalize of str object at 0...,home,mother,No
4,GP,F,16,U,GT3,T,3,3,Other,<built-in method capitalize of str object at 0...,home,father,No

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [30]:
stud_alcoh = stud_alcoh.columns.apply(x*10 if )

TypeError: unsupported operand type(s) for *: 'builtin_function_or_method' and 'int'