# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
booze = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = booze
print(booze.head())

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

### Step 4. Which continent drinks more beer on average?

In [13]:
booze.groupby('continent').beer_servings.mean()
booze.loc[booze['country'] == 'USA', ['beer_servings', 'continent']]

     beer_servings continent
184            249       NaN

### Step 5. For each continent print the statistics for wine consumption.

In [15]:
booze.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [16]:
booze.groupby('continent').wine_servings.max()

continent
AF    233
AS    123
EU    370
OC    212
SA    221
Name: wine_servings, dtype: int64

In [17]:
booze.groupby('continent').wine_servings.min()

continent
AF    0
AS    0
EU    0
OC    0
SA    1
Name: wine_servings, dtype: int64

In [31]:
booze.loc[booze['wine_servings'] == 1, ['country']]

                      country
24                     Brunei
30                   Cambodia
33   Central African Republic
34                       Chad
38                    Comoros
47                   DR Congo
53                      Egypt
59                       Fiji
63                     Gambia
72                     Guyana
73                      Haiti
86                     Jordan
89                   Kiribati
101                    Malawi
104                      Mali
117                   Namibia
122                 Nicaragua
123                     Niger
127                      Oman
131          Papua New Guinea
134               Philippines
157           Solomon Islands
169                  Thailand
183                  Tanzania
189                   Vietnam

### Step 6. Print the mean alcohol consumption per continent for every column

In [32]:
booze.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [33]:
booze.groupby('continent').spirit_servings.mean()

continent
AF     16.339623
AS     60.840909
EU    132.555556
OC     58.437500
SA    114.750000
Name: spirit_servings, dtype: float64

In [34]:
booze.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [35]:
booze.groupby('continent').beer_servings.median()

continent
AF     32.0
AS     17.5
EU    219.0
OC     52.5
SA    162.5
Name: beer_servings, dtype: float64

In [36]:
booze.groupby('continent').spirit_servings.median()

continent
AF      3.0
AS     16.0
EU    122.0
OC     37.0
SA    108.5
Name: spirit_servings, dtype: float64

In [37]:
booze.groupby('continent').wine_servings.median()

continent
AF      2.0
AS      1.0
EU    128.0
OC      8.5
SA     12.0
Name: wine_servings, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [40]:
mean_spirit = booze.groupby('continent').spirit_servings.mean()
print(mean_spirit)

continent
AF     16.339623
AS     60.840909
EU    132.555556
OC     58.437500
SA    114.750000
Name: spirit_servings, dtype: float64

In [41]:
min_spirit = booze.groupby('continent').spirit_servings.min()
print(min_spirit)

continent
AF     0
AS     0
EU     0
OC     0
SA    25
Name: spirit_servings, dtype: int64

In [43]:
max_spirit = booze.groupby('continent').spirit_servings.max()
print(max_spirit)

continent
AF    152
AS    326
EU    373
OC    254
SA    302
Name: spirit_servings, dtype: int64

In [50]:
booze['beer_servings'].agg(['min', 'median', 'max'])

min         0.0
median     76.0
max       376.0
Name: beer_servings, dtype: float64