# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [6]:
print(cars1.head(10))

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70
5  15.0          8           429        198    4341          10.0     70
6  14.0          8           454        220    4354           9.0     70
7  14.0          8           440        215    4312           8.5     70
8  14.0          8           455        225    4425          10.0     70
9  15.0          8           390        190    3850           8.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN
5       1           ford galaxie 500         NaN          NaN          NaN
6       1           chevrolet impala         NaN          NaN          NaN
7       1          plymouth fury iii         NaN          NaN          NaN
8       1           pontiac catalina         NaN          NaN          NaN
9       1         amc ambassador dpl         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
5          NaN          NaN
6          NaN          NaN
7          NaN          NaN
8          NaN          NaN
9          NaN          NaN

In [17]:
cars1.rename(columns={'Unnamed: 9':'Suckabled'}, inplace=True)

In [22]:
print(cars2.head(10))

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76
5  29.5          4            97         71    1825          12.2     76
6  32.0          4            85         70    1990          17.0     76
7  28.0          4            97         75    2155          16.4     76
8  26.5          4           140         72    2565          13.6     76
9  20.0          4           130        102    3150          15.7     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l
5       2   volkswagen rabbit
6       3        datsun b-210
7       3      toyota corolla
8       1          ford pinto
9       2           volvo 245

### Step 5. What is the number of observations in each dataset?

In [19]:
print(cars1.shape)
print(cars2.shape)

(198, 14)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [23]:
cars = cars1.merge(cars2)

In [44]:
cars1.loc[1:50, :]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Suckabled,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,NaN,NaN,NaN,NaN,NaN
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,NaN,NaN,NaN,NaN,NaN
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,NaN,NaN,NaN,NaN
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,NaN,NaN,NaN,NaN,NaN
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,NaN,NaN,NaN,NaN
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,NaN,NaN,NaN,NaN,NaN
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,NaN,NaN,NaN,NaN,NaN
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,NaN,NaN,NaN,NaN,NaN
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),NaN,NaN,NaN,NaN,NaN
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,NaN,NaN,NaN,NaN,NaN
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,NaN,NaN,NaN,NaN,NaN
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,NaN,NaN,NaN,NaN,NaN
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,NaN,NaN,NaN,NaN,NaN
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,NaN,NaN,NaN,NaN,NaN
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,NaN,NaN,NaN,NaN,NaN
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,NaN,NaN,NaN,NaN,NaN
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,NaN,NaN,NaN,NaN,NaN
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,NaN,NaN,NaN,NaN,NaN
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
25,10.0,8,360,215,4615,14.0,70,1,ford f250,NaN,NaN,NaN,NaN,NaN
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,NaN,NaN,NaN,NaN,NaN
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,NaN,NaN,NaN,NaN,NaN
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,NaN,NaN,NaN,NaN,NaN
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
30,28.0,4,140,90,2264,15.5,71,1,chevrolet vega 2300,NaN,NaN,NaN,NaN,NaN
31,25.0,4,113,95,2228,14.0,71,3,toyota corona,NaN,NaN,NaN,NaN,NaN
32,25.0,4,98,?,2046,19.0,71,1,ford pinto,NaN,NaN,NaN,NaN,NaN
33,19.0,6,232,100,2634,13.0,71,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
34,16.0,6,225,105,3439,15.5,71,1,plymouth satellite custom,NaN,NaN,NaN,NaN,NaN
35,17.0,6,250,100,3329,15.5,71,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
36,19.0,6,250,88,3302,15.5,71,1,ford torino 500,NaN,NaN,NaN,NaN,NaN
37,18.0,6,232,100,3288,15.5,71,1,amc matador,NaN,NaN,NaN,NaN,NaN
38,14.0,8,350,165,4209,12.0,71,1,chevrolet impala,NaN,NaN,NaN,NaN,NaN
39,14.0,8,400,175,4464,11.5,71,1,pontiac catalina brougham,NaN,NaN,NaN,NaN,NaN
40,14.0,8,351,153,4154,13.5,71,1,ford galaxie 500,NaN,NaN,NaN,NaN,NaN
41,14.0,8,318,150,4096,13.0,71,1,plymouth fury iii,NaN,NaN,NaN,NaN,NaN
42,12.0,8,383,180,4955,11.5,71,1,dodge monaco (sw),NaN,NaN,NaN,NaN,NaN
43,13.0,8,400,170,4746,12.0,71,1,ford country squire (sw),NaN,NaN,NaN,NaN,NaN
44,13.0,8,400,175,5140,12.0,71,1,pontiac safari (sw),NaN,NaN,NaN,NaN,NaN
45,18.0,6,258,110,2962,13.5,71,1,amc hornet sportabout (sw),NaN,NaN,NaN,NaN,NaN
46,22.0,4,140,72,2408,19.0,71,1,chevrolet vega (sw),NaN,NaN,NaN,NaN,NaN
47,19.0,6,250,100,3282,15.0,71,1,pontiac firebird,NaN,NaN,NaN,NaN,NaN
48,18.0,6,250,88,3139,14.5,71,1,ford mustang,NaN,NaN,NaN,NaN,NaN
49,23.0,4,122,86,2220,14.0,71,1,mercury capri 2000,NaN,NaN,NaN,NaN,NaN
50,28.0,4,116,90,2123,14.0,71,2,opel 1900,NaN,NaN,NaN,NaN,NaN

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [24]:
print(cars.head(10))

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model, origin, car, Suckabled, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13]
Index: []

### Step 8. Add the column owners to cars